body {
  margin: 0;
}

.gallery-section {
  width: 100vw;
  margin-bottom: 55vw;
  /* height: 80vh; */
  position: relative;
  margin-right: 0;
}

.gallery-section > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  transition-delay: 300ms;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide > img {
  display: block;
  width: 100%;
  margin: 0;
  /* height: 100%; */
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  /* top: 50%; */
  z-index: 2;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translateY(45vw);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
